/*2*/
body {
    background-color: rgb(0, 255, 42);
}
​
/*this styles everything within the css-classes class*/
.css-classes {
    background-color: lightgray;
}
​
/*this styles all the p tags within the css-classes class*/
.css-classes h1{
    font-size: 18px;
}
​
.css-classes p{
    font-size: 16px;
    color: rgb(0, 30, 128);
​
}
​
/*this styles all the li items within the css-classes class*/
.css-classes li{
    color: navy;
}